
.navBar {
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 35px;
  padding-left: 25px;
  background-color:black !important;
}
.card-title{
height: 40px;

}
.card-text{
  padding: 0px;
  color: gray;

  
}

.navBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
  color: white;

}


.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4,25%);
  margin: 30px;
}

.card {
  border: 2px solid;
  border-radius: 10px;
  max-width: 300px;
  max-height: 600px;
  margin: 17px;
  align-content: center;

}
.posaljiUpit{
background-color: red;
border: 2px solid red;
color: white;
font-weight: 600;
margin-left: 27%;
text-decoration: none;
padding-left:10px;
padding-right:10px;
padding-top:3px;
padding-bottom: 3px;


}
.posaljiUpit:hover{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  color: white;
 

}



.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 2px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  

  
}
.aUpit{
    text-decoration: none;
    color: white;
  }
  .aUpit:hover{
    text-decoration: none;
    color: white;
  }
.btn {
  background-color: cornflowerblue;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 0px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-container {
  margin: 10px;
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.card-img-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.portfolioImg{
  width: 500px ;
  height: 400px;
  margin: 0 auto !important;
  padding-top: 30px;
  padding-left: 30px;
  
}
.gridDiv{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 50% 50%;

}
.desc{
  padding: 7%;
  margin-top: 30px;
}
p{
  padding: 30px;
}
.header-text{
  margin-left: 30%;
  padding: 10px;
}
.footer-div{
  background-color: silver;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd37ZhaXi_ZF2_CHNilrGUWVWTZBS5mRS3UQ&usqp=CAU") ;
}
.info{
  margin-left: 40%;
  padding: 3px;
}
.tel{
  margin-left: 41% !important;
  padding: 3px;
}
.footer{
  margin-left: 43%;
  

}
form{
  margin-left: 26%;
}
.form-div{
  margin-top:5%;
  margin-bottom:5%;
  margin-left:30%;
  background-color: silver;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 500px;
  border-radius: 10px;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd37ZhaXi_ZF2_CHNilrGUWVWTZBS5mRS3UQ&usqp=CAU") ;
}
.formSentMsg{
  visibility :"hidden"
}
#porukaUspešno{
  width: 600px;
  height: 40px;
  background-color: #90EE90;
  color: black;
  margin-left: 26%;
  padding: 10px;

}

#porukaNeuspešno{
  width: 600px;
  height: 40px;
  background-color: red;
  color: black;
  margin-left: 26%;
  padding: 10px;

}