
.navBar {
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
  align-items: center;
  min-height: 35px;
  padding-left: 25px;
  background-color:black !important;
}
.card-title{
height: 40px;

}
.card-text{
  padding: 0px;
  color: gray;

  
}

.navBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
  color: white;

}


.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 20px;
  text-decoration: none;
  color:black;
  float: right !important;
  overflow: hidden;

}
.link
{
  text-decoration: none;
  color: white;
}
.link:hover
{
  text-decoration: none;
  color: white;
}
#sifrap {
    width: 350px !important;
  border-top: 1px solid black;
  margin: 2px;
  margin-bottom: 100px !important;
  padding: 5px;
  border-bottom: 1px dashed gray;

  
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4,25%);
  margin: 30px;
}

.card {
  border: 2px solid;
  border-radius: 10px;
  max-width: 300px;
  max-height: 600px;
  margin: 17px;
  align-content: center;

}
.posaljiUpit{
background-color: red;
border: 2px solid red;
color: white;
font-weight: 600;
margin-left: 27%;
text-decoration: none;
padding-left:10px;
padding-right:10px;
padding-top:3px;
padding-bottom: 3px;


}
.posaljiUpit:hover{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  color: white;
 

}



.card-body {
  padding: 2px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  

  
}
.aUpit{
    text-decoration: none;
    color: white;
  }
  .aUpit:hover{
    text-decoration: none;
    color: white;
  }


a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-container {
  margin: 10px;
}

.card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
}

.portfolioImg{
  width: 500px ;
  height: 400px;
  padding-top: 30px;
  padding-left: 40px;
  margin-bottom: 15px;

  
}
.drvolex{
  width: 530px ;
  height: 300px;
  margin: 0 auto !important;
  padding-top: 30px;
  padding-left: 30px;

  
}
.gridDiv{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin:20px;

}
.product-img {
  padding: 20px;

}
.product-img img {
  width: 500px;
  height: 400px;

}
.dp{
  margin: 2px;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px dashed gray;
  width: 350px;

}
.dpl{
  margin: 2px;
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 5px;
  width: 350px;

}
.product-img img:hover{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);


}
.product-info{
  margin-top: 10px;
  margin-left: 20%;
}

.main{

}
p{
  padding: 30px;
}
.header-text{
  margin-left: 30%;
  padding: 10px;
}
.ukupno{
  margin-left: 50px;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer-div{
  background-color: silver;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd37ZhaXi_ZF2_CHNilrGUWVWTZBS5mRS3UQ&usqp=CAU") ;
  
 
   width:100%;
}
.info{
  margin-left: 40%;
  padding: 3px;
}
.tel{
  margin-left: 41% !important;
  padding: 3px;
}
.footer{
  margin-left: 43%;
  

}
form{
  margin-left: 26%;
}
.prazna{
  font-size: 30px;
  margin-top:0px;
}

#root{
  background-image:url("https://drvolux.rs/wp-content/uploads/2021/06/8803360636958-500x375.jpg") ;
  height: 100%;

}
.form-div{
  margin-top:5%;
  margin-bottom:5%;
  margin-left:10% !important;
  background-color: silver;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 470px;
  border-radius: 10px;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd37ZhaXi_ZF2_CHNilrGUWVWTZBS5mRS3UQ&usqp=CAU") ;
}
.formSentMsg{
  visibility :"hidden"
}
#porukaUspešno{
  width: 600px;
  height: 40px;
  background-color:#7D4F20;
  color: black;
  margin-left: 26%;
  padding: 10px;

}
#uspešno{
  width: 600px;
  height: 40px;
  background-color: #90EE90;
  color: black;
  margin-left: 26%;
  margin-bottom: 30px;
  padding: 10px;
}

#porukaNeuspešno{
  width: 600px;
  height: 40px;
  background-color: red;
  color: black;
  margin-left: 26%;
  padding: 10px;

}
.btnUpit{
 
  margin-left: 7px;
  background-color: red;
  color:white;
  border: 2px solid red;
  width: 150px;
  margin: 10px;

}
.btnUpit:hover{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}
input, select{
  border: 1px solid gray;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  margin: 0px;
  
}
.potvrdiPorudzbinu{
  background-color: #7D4F20;
  border: 2px solid  #7D4F20;
  color: white;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 48px;
  
}
#kontaktInfo{
  margin-left:60px;
}
.gridPrikazKontakt{
  display: grid;
  grid-template-columns: 50% 50%;
}
.gridPrikazKontakt div{
  margin:40px;
}
#myform{
  margin-left: 10px;
}
.dm{
  text-decoration: none;
  color: black;
  font-weight: 100;
}
.dm :hover{
  text-decoration: none;
  color: black !important;
}
.lbl{
  font-weight: 600;
  margin-bottom: 2px;
}

.tab{
  display: block;
  margin-top: 20px;
  margin-left:30%;
}
.tab a{
  margin-left:33px;
  width: 110px;
  height: 60px;
  padding: 5px;
}
.tab a:hover{
  opacity: 70%;
}
.divider{
  border-top: 1px solid rgb(150, 147, 147);
  opacity: 60px;
  height: 0px !important;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#slika-logo:hover{
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);

}
.slicniProizvodi{
  margin-left:30px;
}


